/* Importação da fonte raleway, do google fontes */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Raleway', sans-serif;

}

:root{
  --cor-primaria: #edcb9a;
}

body{

  background: rgb(24, 23, 23) url(imagens/FUNDO.png) 100% ;
}

header{
  position: relative;
  width: 100vw;
  height: 100vh;
  color: white;
  overflow: hidden;
}


header video{
  position: absolute;
  width: 100%;
  object-fit: cover;
}
/* parte dos itens do menu no topo (header) */

#container-logo-topo-icones{
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  width: 100%;
  z-index: 1;
 
}

#container-logo-topo-icones img{
  margin-left: 1rem;
}



#paragrafo-topo{
  font-size: 11px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

nav{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.637);
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 1.8rem;
  z-index: 1;
  margin-top: .3rem;
}

i.fa-bars,
i.fa-xmark{
  font-size: 23px;
  display: none;
  
}


ul#itens-de-menu{
  display: flex;
  gap: 3rem;
  font-size: 12px;
  text-transform: uppercase;
  list-style: none;
}


#itens-de-menu a{
  text-decoration: none;
  display: flex;
  gap: .5rem;
  align-items: center;
  font-weight: bold;
  color: white;
  letter-spacing: .2rem;
  font-size: 10px;
  
}



.icones-menu-header{
  width: 20px;
  color: var(--cor-primaria);
  display: none;
}





/* Retangulo de que contem o logo e as redes socias */



#logo{
  width: 40px;
}

#paragrafo-ao-contrario{
  display: inline;
  transform: rotate(-90deg);
  width: 200px;
  margin-top: 4rem;
  margin-bottom: 4rem;
  writing-mode:horizontal-tb ;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  letter-spacing: .3rem;
}



#container-redes-sociais{
  position: absolute;
  bottom: 4rem;
  right: 0;
  display: flex;
  align-items: center;
  gap: .7rem;
  justify-content: flex-end;
  z-index: 1;
  margin-right: 1rem;
}

.fa-facebook-f,
.fa-instagram,
.fa-linkedin-in,
.fa-behance,
.fa-whatsapp{
  font-size: 14px;
  color: gray;
}

#container-redes-sociais i{
  transition: all .2s;
  transform: translatey(0);
}

#container-redes-sociais i:hover{
  transform: translatey(-8px)
}

















#conteudo-header{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-end;
  color: white;
  text-align: center;
  margin-left: 3rem;
  z-index: 2;
}

















/* Seccao Prestações 

#seccao-prestacoes{
  margin-top: 5rem;
  margin-bottom: 8rem;

}

#conteudo-seccao-prestacao{
  text-align: center;
  line-height: 1.6rem;
  font-weight: bold;
  color: rgb(3, 3, 24);
  font-size: 22px;
  margin-bottom: 2rem;
}

#container-area-cubos{
  display: flex;
  justify-content: center;
  gap: 2rem;

}

*/




















/* Secção Projectos */

#container-projectos{
  display: flex;
  justify-content: center;
}

#p1-seccao-projectos{
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin: 2rem 0;
  color: white;
}

.projecto{
  width: 25%;
  position: relative;
  overflow: hidden;
}

.cor-acima-da-imagem{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.521);
  z-index: 1;
}

.projecto:hover .cor-acima-da-imagem{
  background-color: rgba(0, 0, 0, 0.397);
}


.imagem-projecto{
  width: 100%;
  object-fit: cover;
  transition: all .7s;
}

.projecto:hover .imagem-projecto{
  transform: scale(1.1);
}



.p1-projecto{
  position: absolute;
  top: 2rem;
  left: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: lightgray;
  z-index: 2; 
}

.p2-projecto{
  position:absolute;
  left: -1.3rem;
  bottom: 5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  transform: rotate(-90deg);
  letter-spacing: .2rem;
  font-size: 13px;
  z-index: 2;
}































