/* Importação da fonte raleway, do google fontes */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  letter-spacing: .2rem;
}

:root{
  --cor-primaria: #edcb9a;
}

body{
  background: black url(imagens/Banner00.jpg) center 100% ;
}

  



header{
  position: relative;
  height: 100vh;
  color: white;
  overflow: hidden;
}


header video{
  position: absolute;
  width: 100%;
  height: 45rem;
  object-fit: cover;
}
/*  */

#container-logo-topo-icones{
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  width: 100%;
  z-index: 1;
 
}

#container-logo-topo-icones img{
  margin-left: 1rem;
}


#conteudo-header{
  text-align: center;
}

/* 

#tendencias a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}
#tendencias{
  width: 100%;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

*/

nav{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.637);
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 1.8rem;
  z-index: 1;
  margin-top: .3rem;
}

@media (max-width: 1025px){
  nav{
    visibility: hidden;
    
  }

}






i.fa-bars,
i.fa-xmark{
  font-size: 23px;
  visibility: hidden;
  
}

@media (max-width: 1025px){
  i.fa-bars{
    visibility: visible;
  }
}


ul#itens-de-menu{
  display: flex;
  gap: 3rem;
  font-size: 12px;
  text-transform: uppercase;
  list-style: none;
}


#itens-de-menu a{
  text-decoration: none;
  display: flex;
  gap: .5rem;
  align-items: center;
  font-weight: bold;
  color: white;
  letter-spacing: .2rem;
  font-size: 10px;
  position: relative;
  
}

#itens-de-menu a:hover:after{
  content: '';
  background-color: white;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 1.3rem;
  transition: all .2s;
}

nav.show{
 
  visibility: visible;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 999;
  overflow: hidden;
  margin: 0;
}

nav.show i.fa-xmark{
  visibility: visible;
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 999;
}

nav.show ul#itens-de-menu{
  
  flex-direction: column;
  align-items: center;
  z-index: 999;
 
}

nav.show ul#itens-de-menu a{
  color: black;
}

nav.show i.fa-xmark{
  display: block;
  z-index: 999;
  color: black;
  position: absolute;
}

nav.show ul#itens-de-menu a::after{
  height: 1px;
  background-color: black;
}


.icones-menu-header{
  width: 20px;
  color: var(--cor-primaria);
  display: none;
}



@media (max-width: 700px){
  i.fa-bars{
  font-size: 23px;
  visibility: visible;
  
  }

}
























#conteudo-header{
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-50%,-50%);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-end;
  color: white;
  text-align: center;
  margin-left: 3rem;
  z-index: 2;
}


@media(max-width: 1050px){

  #conteudo-header h1{
    font-size: 17px;
  }

  #conteudo-header p{
    font-size: 14px;
  }
}

@media(max-width: 780px){

  #conteudo-header {
    left: 40%;
  }
  #conteudo-header p{
    font-size: 12px;
  }
}


#conteudo-header button{
  padding: .7rem 1rem;
  background-color: black;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 15px;
  width: 120px;
  transition: all .4s;
}

#conteudo-header button:hover{
  transform: scale(1.1);
}
















#seccao-servicos{
  margin-top: 5rem;
  margin-bottom: 8rem;

}

#conteudo-seccao-servicos{
  text-align: center;
  line-height: 1.6rem;
  font-weight: bold;
  color: rgb(3, 3, 24);
  font-size: 22px;
  margin-bottom: 2rem;
  color: white;
}

#container-area-servicos{
  display: flex;
  gap: 2rem;
  justify-content: center;

}

.container-cubos-servicos{
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  padding: 1rem;
}


.cubo-servicos{
  width: 240px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 1rem;
  background-color: white;
  transition: all .5s;
  height: 14rem;
}

.conteudo-cubo-servico{
  text-align: center;
}

.cubo-servicos:hover{
  transform: scale(1.1);
}

.cubo-servicos img{
  width: 50px;
  margin: auto;
}



.p1-servicos{
  font-size: 15px;
  font-weight: bold;
  color: black;
  margin-bottom: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.p2-servicos{
  font-size: 12px;
  margin-bottom: .5rem;
  font-weight: bold;
}

.conteudo-cubo-servico a{
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: gray;
  font-size: 12px;
  cursor: pointer;
}

.conteudo-cubo-servico i{
  color: gray;
}





















/* Secção Projectos */

.container-projectos{
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;

}

#area-projectos{
  display: flex;
}

.container-projectos{
  
}

#p1-seccao-projectos{
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin: 2rem 0;
  color: white;
}

.projecto{
  width: 50%;
  position: relative;
  overflow: hidden;
}

.cor-acima-da-imagem{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.521);
  z-index: 1;
}

.projecto:hover .cor-acima-da-imagem{
  background-color: rgba(0, 0, 0, 0.397);
}


.imagem-projecto{
  width: 100%;
  object-fit: cover;
  transition: all .7s;
}

.projecto:hover .imagem-projecto{
  transform: scale(1.1);
}



.p1-projecto{
  position: absolute;
  top: 2rem;
  left: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: lightgray;
  z-index: 2; 
}

.p2-projecto{
  position:absolute;
  left: -1.3rem;
  bottom: 5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  transform: rotate(-90deg);
  letter-spacing: .2rem;
  font-size: 13px;
  z-index: 2;
}

  @media(max-width: 1000px){
    
    .container-projectos{
      flex-direction: column;
    }

    .projecto{
      width: 100%;
    }

    .p1-projectos{
      font-size: 13px;
    }
   
  }

  @media(max-width: 380px){
    #area-projectos{
      flex-direction: column;
    }
  
     
  
   
  }




























  /* Footer */
  footer{
    padding: 5rem .5rem;
    background-color: #010e1f;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-around;

  }

  footer p{
    font-size: 13px;
    margin-bottom: .5rem;
  }

  footer #footer-produtos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  footer #footer-servicos-suporte{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  footer i{
    color: white;
    transition: all .2s;
  }

  footer i:hover{
    transform: translatey(-4px);
  }

  #footer-redes-sociais{
    display: flex;
    gap: 1rem;
  }

  @media(max-width:1000px){
    footer p{
      font-size: 10px;
    }
  }

  @media(max-width:800px){
    #footer-redes-sociais{
      gap: .3rem;
      flex-direction: column;
    }
  }

  @media(max-width:700px){
    footer{
      gap: 2rem;
      text-align: center;
      font-size: 11px;
      flex-direction: column;
      align-items: center;
    }
  }




