@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2? família= Poppins:ital,wght@0,100;1,100 &family= Raleway:wght@100 & display=swap');



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background: black url(imagens/foto-header-contacto.jpg) center;
  background-size: 100% 100%;
  width: 100%;
  height: 24rem;
  position: relative;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 5rem;
}

.conteudo-centro-header{
  text-align: center;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.conteudo-centro-header h1{
  font-size: 3rem;
}











/* Main*/
main{
  font-family: 'Raleway', sans-serif;
}

/* Seccao 1 ( dos icones) */
#seccao1{
  margin-bottom: 5rem;
}

#container-conteudo-seccao-email{
  margin: auto;
  margin-bottom: 1.5rem;
  text-align: center;
  width: 100%;
}


#seccao1 #container-conteudo1{
  margin: auto;
  text-align: center;
  font-size: 1.2rem;
  
}

@media(max-width: 480px){
  #container-conteudo1 h1{
    font-size: 1.1rem;
  }
}

.linha-preta{
  background-color: black;
  width: 3rem;
  height: 2px;
  margin: auto;
  margin-top:1rem;
  margin-bottom: 2rem;
}


.icones-seccao1{
  width: 80px;
}





#container-icones-conteudos{
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.conteudo-icone-seccao1{
  max-width: 350px;
  color: gray;
  font-weight: bold;
  padding: .4rem;
}

#container-icones-conteudos div{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#container-icones-conteudos strong{
  font-size: 1.5rem;
  font-weight: bold;
}














/* Mapa do google*/
#seccao-mapa{
  background-color: gray;
  width: 100%;
  height: 25rem;
  position: relative;
  margin-bottom: 10rem;
}


#mapa{
  position: absolute;
  width: 100%;
  height: 100%;
  
}



#containers-contactos{
  width: 420px;
  background-color: white;
  padding: 1rem .5rem;
  position: absolute;
  top: 30%;
  right: 4rem;
 
}

@media(max-width: 550px){
 
  #containers-contactos{
    top: 1rem;
    right: 5px;
    width: 220px;
  }
}

#container-contactos{
  background-color: white;
  width: 100%; 
  display: flex;
  gap: 2rem;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  flex-wrap: wrap;
}

#container-contactos strong{
  font-size: 1.1rem;
  margin-bottom: .5rem;
}

#container-contactos p{
  font-size: 13px;
  font-weight: bold;
}


















/* Secção do formulario do envio de email*/ 

#seccao-formulario{
  margin-bottom: 7rem;
}

#container-conteudo-seccao-email{
  width: 100%;
}

#container-conteudo-seccao-email h1{
  font-size: 1.9rem;
  font-weight: bold;
}



form{
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#seccao-formulario form input{
  display: block;
  margin: auto;
  outline: none;
  
}

#container-2inputs{
  display: flex;
  justify-content: space-between;
  width: 100%;
  
}

#container-2inputs input{
  padding: .7rem 1rem;
  width: 270px;
  border: .3px solid lightgray;
}



@media(max-width: 605px){
  #container-2inputs{
    flex-direction: column;
    align-items: center;
    gap: .5rem;
  }

  .area-input{
    width: 100%;
  }

  #container-2inputs input{
    width: 100%;
  }
}




textarea{
  border: 2px solid blue;
  resize: none;
  width: 100%;
  border: none;
  border: .3px solid lightgray;
  outline: none;
}

#input-submit{
  border: none;
  background-color:rgb(24, 23, 23);
  color: white;
  padding: .6rem 1rem;
}


















.linha-colorida-footer{
  width: 100%;
  height: 2px;
  background-image:linear-gradient(to right, blue,red,orange,yellow);
}


/* Footer */
footer{
  padding: 5rem .5rem;
  background-color: rgb(24, 23, 23);
  color: white;
  display: flex;
  justify-content: space-around;
  font-family: 'Poppins', sans-serif;
  
}

footer .palavras-footer-about{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 19px;
  color: white;
}

footer p{
  font-size: 13px;
  margin-bottom: .5rem;
  font-family: 'Poppins', sans-serif;
}

footer a{
  text-decoration: none;
}

footer #footer-produtos{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer #footer-servicos-suporte{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer #footer-endereco-email{
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

footer i{
  color: white;
  transition: all .2s;
}

footer i:hover{
  transform: translatey(-4px);
}


#footer-redes-sociais{
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

@media(max-width:1000px){
  footer p{
    font-size: 10px;
  }
}

@media(max-width:800px){
  #footer-redes-sociais{
    gap: .3rem;
    flex-direction: column;
  }
}

@media(max-width:700px){
  footer{
    gap: 2rem;
    text-align: center;
    font-size: 11px;
    flex-direction: column;
    align-items: center;
  }
}




